<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316938555924-hjh4crvvgdo4q7eppg008d3i6s9ggj70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316938555924-hjh4crvvgdo4q7eppg008d3i6s9ggj70</string>
	<key>API_KEY</key>
	<string>AIzaSyAnUKRC79dWADf_QDAfmkOnFcSrqvssnnY</string>
	<key>GCM_SENDER_ID</key>
	<string>316938555924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orbitfitnessuserapp</string>
	<key>PROJECT_ID</key>
	<string>orbit-fitness-78a3d</string>
	<key>STORAGE_BUCKET</key>
	<string>orbit-fitness-78a3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316938555924:ios:0a1cf6e099b7ebca63cd01</string>
</dict>
</plist>